<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post"> <!--use method="post" instead of method="get" when the act of submitting this form should alter data server-side-->
{% csrf_token %} <!--When creating a POST form, we need to worry about Cross Site Request Forgeries. All POST forms that are targeted at internal URLs should use the {% csrf_token %} template tag.-->
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>