{% extends "shifts/base.html" %}
{% block content %}
<div class="row white">
    <div class="columns large-12">
        <form action="/create_sale/" method="POST">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.text }}
            </div>
            <input type="submit" value="Sell Shift" class="tiny button">
        </form>
    </div>
</div>

hi

<div class="row white">
    <div class="columns large-12">
        <ul>
            bye
            {% for shift in shifts %}
                <li>
                    <strong>{{ shift.department }}</strong> -
                    <em>{{ shift.day_of_the_week }}</em> -
                    <span>{{ shift.owner }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
