{% extends "shifts/base.html" %}
{% load scheduletags %}
{% block content %}

<div class="row white">
    <div class="columns large-12">
        <ul id="shifts">
            {% for shift in all_shifts %} <!--In views.py-->
                <li>
                    <strong>{{ shift.department }}</strong> -
                    <em>{{ shift.day_of_the_week }}</em> -
                    <span>{{ shift.owner }}</span> -
                    <em>{{ shift.pk }}<em>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% calendar shifts %}

<script src="static/scripts/main.js"></script>
{% endblock %}
